<div class="wrapper-vertical">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Scraper</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Technology</p>
            <li class="active">
                <a href="#">EchoJs</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">
        <div class="container-fliud">
            <header class="masthead">
                <div class="container h-100">
                    <div class="text-center">
                        <h1 class="font-weight-normal">Scraping the Websites</h1>
                        <p class="lead">A great reader to your interested sites</p>
                    </div>
                </div>
            </header>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button type="button" id="btn-RefreshAll" class="btn btn-info">
                    <span>Refresh</span>
                </button>
                <button type="button" id="btn-ViewAll" class="btn btn-info">
                    <span><a href="/">View All</a></span>
                </button>
                <button type="button" id="btn-GetFavorite" class="btn btn-info">
                    <span><a href="/favorite">Favorites</a></span>

                </button>
            </div>
        </nav>

        <div class="wrapper-horizontal center-block">
            <ul>
                {{#each articles}}
                {{> article-block}}
                {{/each}}
            </ul>
        </div>
    </div>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>